@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom class to hide scrollbar */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.polygon {
  clip-path: polygon(21% 0, 100% 0%, 100% 99%, 0% 100%);
}
