@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom class to hide scrollbar */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
  }
}
body {
  @apply font-roboto;
}

.polygon {
  clip-path: polygon(21% 0, 100% 0%, 100% 99%, 0% 100%);
}

.swiper-pagination-fraction {
  @apply bg-white/50 !w-auto inline-block py-0.5 px-2 !absolute !bottom-2 !left-[45%]  rounded-2xl transform !-translate-x-1/2 !-translate-y-1/2;
}
